body {
	background-color: #1A554F;
	font-family: 'raleway',sans-serif;
	color: #FDA856;
}
.plain-list {
	list-style: none;
}

a:hover {
	color: navy;
}

@media (max-width: 400px) {
	#Alice {
		width: 120px;
	}
	#Oscar {
		width: 120px
	}
}